.card {
  width: 400px;
  height: 420px;
  margin: 10px;
  padding: 1.5rem;
  
  
}
.card-image:hover
{

    transform: translateY(5px) scale(1.1) ;
    transition: transform 0.5s;
  
}
.card-image
{
  width: 350px;
  height: 200px;
  margin-top: 30px;
  
 
}
.card-stats{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.pricetitle{
  display: flex;
  justify-content: space-between;
}
.carddesc{
  text-align: left;
  font-size: 10px;
  padding-top: 1vh;
  margin-left: 25px;
  
}
.cardtitle
{
  font-weight: 550;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 25px;
}
.cardprice
{
  font-size: 20px;
  margin-top: 10px;
  margin-right: 25px;
}


